/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights


- Line heights


- Letter spacing


--- 02 COLORS

- Primary:

- Tints:

- Shades:
- Accents:
- Greys

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    font-size: 62.8%;
}

.container{
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

/**** | About Me | *****/

.about-me-section{
    /*background-color: #F8F8FF;*/
    background-color: #1B001E;
    padding: 4.8rem 0;
}

.heading{
    text-align: center;
    font-size: 5.2rem;
    font-family: Inter, sans-serif;
    font-weight: 700;
    margin-bottom: 2rem;
    color: whitesmoke;
 
}

.about_me{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 3.2rem;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 1rem;
    padding: 1.5rem;
    z-index: 10;
    color: whitesmoke;
}

.img-box{
    display: flex;
    justify-content: center;
}

.img-about{
    width: 24rem;
    z-index: 1;
}

.about_me p{
    font-size: 1.6rem;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 2.8rem;
    color: whitesmoke;
    letter-spacing: 0.55px;
    padding-bottom: 2.8rem;
}

.heading1 p{
    font-size: 5.2rem;
    padding-bottom: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat','Raleway','Alata', sans-serif;
}

span{
    color: #db4454;
}

.social-logo ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    z-index: 2;
}

.social-logo ul img{
    margin-right: 1.6rem;
    height: 2.4rem;
    width: 2.4rem;
    filter: brightness(0);
    transition: 0.5s ease all;
}

.social-logo ul img:hover{
    filter: brightness(1);
}







